body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    background: linear-gradient(to right, #1f000d, #d61968);
    z-index: 10000;
    width: 100%;
    top: 0;
}

.container {
    padding: 10px 80px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
   width: auto;
   height: 55px;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav ul li {
    display: inline-block;
    margin-right: 35px;
}

.nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.search {
    padding: 5px 10px;
    display: flex;
    align-items: center;
}
.search_form_nav {
    position: relative;
}

.search input[type="text"] {
    border-radius: 50px;
    border: none;
    padding: 10px 40px 10px 20px;
    margin-right: 7px;
    outline: none;
    font-size: 16px;
    width: 200px;
    text-align: left;
}

.btn_search_img_nav {
    background-color: #880039;
    border: none;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
}

.btn_search_img_nav:hover {
    background-color: #c71d64;
}

.btn_search_img_nav img {
    width: 20px;
    height: 20px;
}
section {
    height: 100vh;
    
}
#home{
    background: linear-gradient(to right, #1f000d, #FF4F99);
    /* text-align: right; */
    width: 100%;
    align-items: center;
    padding: 0 20px;
    padding-top: 90px;
    margin: 0;
    max-height: 600px;
}

.row_home {
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.home_content_left {
    max-width: 45%;
}

.home_content_right {
    max-width: 45%;
    
}

.home_content_left h1{
    color: #FFFCBF;
    font-size: 60px;
    text-align: left; /* Rata kiri untuk judul */
    /* margin-bottom: 10px; */
    /* margin-top: 80px; */
}

.home_content_left p{
    color: #FFFCBF;
    font-size: 30px;
    text-align: left;
}

.btn_home {
    background-color: #45001a;
    color: #FFFCBF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.btn_home:hover {
    background-color: #7b1d41;
}

.home_content_right img {
    align-self: center;
    max-width: 75%; /* Mengatur lebar maksimum gambar agar tidak melebihi lebar konten */
    max-height: 75%; /* Mengatur tinggi maksimum gambar agar tidak terlalu besar */
    height: auto; /* Mengatur ketinggian gambar agar mengikuti perubahan proporsi lebar */
    /* margin-right: 60px; */
}

.slider {
   
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 300%; /* Assuming there are 3 slides */
}
.slide {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide img {
    width: 100%;
    height: auto;
}
.dots {
   margin: 0;
   padding: 0;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
.dots-container {
    text-align: center;
    position: absolute;
    bottom: 20px; /* Sesuaikan dengan posisi yang diinginkan */
    left: 0;
    right: 0;
}
.main {
    padding: 90px 20px;
}
.intro h1 {
    margin-bottom: 30px;
    text-align: center;
}
#product {
    background-color: #ecd3d3;
    width: 100%;
}
#service{
    width: 100%;
}
.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {
    background-color: #8F003C;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    cursor: pointer;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card .icon {
    font-size: 50px;
    margin-bottom: 10px;
}

#contact{
    background: linear-gradient(to right, #8F003C, #FF78B1);
    padding: 50px 20px;
    text-align: center;
    width: 100%;
    max-height: 500px;
    margin: 0;
}
.row_contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact_title h1{
    color: #FFFCBF;
    font-size: 40px;
}
.contact_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    flex-wrap: wrap;
    margin-top: 20px;
}
.contact_content_left {
    width:35%;
}

.contact_content_left a, .contact_content_right a {
    margin-left: 10px;
    text-decoration: none;
    text-align: left;
    color: white;
}

.contact_content_right {
    text-align: left;
    width:35%;
}


.right {
    padding: 20px 0;
    display: flex;
    justify-content: flex-start;
    margin-left: 40px;
    align-items: center;
}

.left {
    padding: 20px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.popup-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.popup-content {
    background-color: #f7e5e5;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 1200px;
    border-radius: 10px;
    text-align: center;
    height: 60%;
    
    
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.product-element {
    display: flex;
    flex-direction: column;
    width: auto; /* Sesuaikan sesuai kebutuhan */
    margin-right: 10px;
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    text-align: center;
    height: 275px;
    
}

.product-element:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.product-element img {
    width: auto;
    height: 150px;
    border-radius: 10px;
    margin-bottom: 10px;
}

 .product-element p, .product-element h4 {
    margin: 5px 0;
 /* Add this */
    max-width: 200px;

    /* Truncate text with ellipsis */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.product-element h3{
    margin: 5px 0;
    /* Add this */
       max-width: 200px;
   
       /* Truncate text with ellipsis */
       overflow: hidden;
       white-space: nowrap;
       text-overflow: normal;
}


.product-element .detail-button {
    background-color: #f8d7da;
    color: #000;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product-element .detail-button:hover {
    background-color: #f1c4c7;
}

#popup-description {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 96%;
    max-height: 100%; /* set ketinggian maksimum untuk product-element */
    overflow-y: auto;
    white-space: nowrap;
}

#Discount {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
   
    text-align: center;
}

#Discount h5 {
    font-size: 44px;
    margin-bottom: 20px;
}

.containerr {
    margin-top: 60px;
    display: flex;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
    
}

.card-item {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    
}


.card-item.active {
    display: flex;
    background-color: #fcf6f8;
}
.card:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}


.card {
    position: relative;
    overflow: hidden; 
    width: calc(100% / 5 - 20px);
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(240, 172, 172, 0.1);
    width: 200px;
    text-align: center;
    padding: 5px;
    background-color: #f5efef;
}
.discount-label {
    position: absolute;
    top: 10px; /* Adjust to position the label closer to the top */
    left: 10px; /* Adjust to position the label closer to the left */
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    animation: slideIn 1s ease-in-out infinite;
}
@keyframes slideIn {
    0% { transform: translateY(-100%); opacity: 0; }
    50% { transform: translateY(10px); opacity: 1; }
    100% { transform: translateY(-100%); opacity: 0; }
}

.card-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-isi {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}
.card h1{
    font-size: 20px;
}
.card-hargaa{
    margin-top: 10px;
    font-size: 24px;
    color: #333;
}
.card-kategori{
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

.carousel-control-prev, .carousel-control-next {
    background: #cec5c8;
    border: none;
    color: #fff;
    font-size: 18px;
    padding: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
}
.isi{
    text-decoration: line-through;
    color: red;
}
.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-image: none;
}

.carousel-control-prev-icon::before{
    content: '<'; /* Custom icon content for previous and next buttons */
    font-size: 24px;
}
.carousel-control-next-icon::before {
    content: '>'; /* Custom icon content for previous and next buttons */
    font-size: 24px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7); /* Warna latar belakang semi-transparan */
}

/* Konten modal */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    max-width: 80%; /* Lebar maksimum konten modal */
    overflow: auto; /* Mengaktifkan gulir jika konten melebihi ukuran modal */
    width: 400px; /* Lebar tetap untuk modal */
    height: 400px;
    max-width: 90%; /* Lebar maksimum, jika layar lebih kecil */
    max-height: 80%; /* Tinggi maksimum untuk konten, agar dapat digulir jika perlu */
    overflow-y: auto;
    align-items : center;
    
}

/* Gaya untuk elemen dalam modal */
.modal-content p,
.modal-content img {
    max-width: 100%; /* Lebar maksimum untuk paragraf dan gambar */
    height: auto;
}
/* Teks penutup modal */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.closee {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}


.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.closee:hover,
.closee:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Style untuk bagian atas modal */
.atas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.atas p {
    font-size: 24px;
}

/* Style untuk gambar produk */
#modalImg {
    max-width: 100%; /* Lebar maksimum gambar */
    height: auto;
    margin-bottom: 20px;
    border-radius: 5px;
}

/* Style untuk bagian tengah modal */
.tengah {
    text-align: center;
}

/* Style untuk harga produk */
#modalHarga {
    font-weight: bold;
    font-size: 14px;
    align-items : center;
    text-decoration: line-through;
    color: red;
    
}
#modalHargaa {
    font-weight: bold;
    font-size: 19px;
    align-items : center;
    
}

/* Animasi untuk tampilan modal */
.modal-content {
    animation: zoom 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}