/* Sidebar styling */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: #27ae60;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    z-index: 100;
  }
  
  .sidebar-title {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  
  .sidebar-menu ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar-menu li {
    margin-bottom: 10px;
  }
  
  .sidebar-menu li a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    color: #eeeeee;
    text-decoration: none;
    font-weight: normal;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .sidebar-menu li a:hover {
    background-color: hsl(120, 4%, 95%);
    color: #27ae60;
  }
  
  .sidebar-menu li.active a {
    background-color: hsl(120, 4%, 95%);
    color: #27ae60;
    font-weight: bold;
  }
  
  .logout-form {
    margin-top: auto;
    text-align: center;
  }
  
  .logout {
    background: white;
    color: #27ae60;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .logout:hover {
    background-color: #1f8a4d;
    color: white;
  }
  